<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" ...>
    <link rel="stylesheet" href="/lightTheme.css" th:if="${settings.currentTheme == T(com.example.MyStatsBeta.model.Settings.Theme).LIGHT}">
    <link rel="stylesheet" href="/darkTheme.css" th:if="${settings.currentTheme == T(com.example.MyStatsBeta.model.Settings.Theme).DARK}">

</head>
<body>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link"  href="/api/students/mystats" th:if="${role == 'STUDENT'}" >Dashboard</a>
            <a class="nav-link"  href="/api/teachers/teacherdashboard" th:if="${role == 'TEACHER'}" >Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" aria-disabled="true" href="/settings/" >Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page">Messages</a>
        </li>
        <li>
            <a class="nav-link disabled" aria-current="page" aria-disabled="true" href="#" th:if="${role == 'TEACHER'}" >Create new Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Logout</a>
        </li>
    </ul>
    <header>
        <h6>Hello, <span th:text="${senderName}"></span>!</h6>

    </header>
    <br>

</div>
<div class="container">
    <div class="row">

        <div class="col-md-3">
            <nav class="nav flex-column" th:each="receiver : ${receivers}">
                <a class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end nav-link"
                   th:class="${#strings.equals(receiver.id, activeReceiverId)} ? 'p-3 bg-success bg-opacity-10 border border-success border-start-0 rounded-end nav-link' : 'p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end nav-link'"
                   style="max-width: 250px;"
                   th:href="@{/message/{receiverId}(receiverId=${receiver.id})}"
                   th:text="${receiver.name}">
                </a>
                <br>

            </nav>
        </div>

        <!--        MESSANGER-->
        <div class="col-md-9" th:if="${receiverId != null and receiverId != 0}">
            <div class="card">
                <div class="card-body bg-info bg-opacity-10" >
                    <h5 class="card-title">Messanger</h5>
                    <p class="card-text">You are chatting with <span th:text="${receiver.name}"></span></p>
                </div>
            </div>
            <br>

            <div class="card-body bg-secondary bg-opacity-10" th:if="${messages != null and !#lists.isEmpty(messages)}">
                <br>
                <div th:each="message : ${messages}" class="mb-3 d-flex"
                     th:classappend="${message.sender.id == activeReceiverId} ? 'justify-content-start' : 'justify-content-end'">

                    <div class="card" th:classappend="${message.sender.id == activeReceiverId} ? '' : 'bg-primary bg-opacity-10'" style="max-width: 70%;"> <div class="card-header">
                        <strong th:text="${message.sender.name}"></strong>
                        <small th:text="${#temporals.format(message.timestamp, 'dd/MM/yyyy HH:mm')}"></small>
                    </div>
                        <div class="card-body ">
                            <p class="card-text" th:text="${message.content}"></p>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <div class="mt-4">
                <form id="messageForm" th:action="@{/sendmessage/{receiverId}(receiverId = ${receiver.id})}" method="post" onsubmit="handleMessageSubmit(event)">
                    <textarea class="expand-textarea" id="messageContent" name="messageContent" placeholder="Type your message here..."></textarea>
                    <button type="submit" class="btn btn-primary mt-2">Send Message</button>
                </form>

            </div>
            </div>


    </div>
</div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-7+9z8e1" crossorigin="anonymous"></script>
</body>
</html>